{% extends 'base.html' %}

{% block content %}
<h1>Home Page</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore suscipit tempore dolores odit molestias, adipisci animi fuga quia dolorum fugiat ea modi natus officiis qui tempora facilis quas culpa porro, illum nostrum voluptates quaerat, quibusdam aliquam? Doloribus aut, voluptatem architecto iste ex enim voluptas, maiores, nihil laboriosam modi error quis illo saepe libero possimus reprehenderit. Distinctio, magnam tenetur inventore porro, voluptatem repellendus eveniet, sapiente officia totam praesentium excepturi similique cupiditate aut voluptate facere maxime. Beatae exercitationem culpa et veritatis nemo eos nisi magnam, sapiente dicta fuga voluptatem. Accusamus, amet? Tenetur nam nulla quas et saepe ipsam soluta iure ratione ad.</p>
{% endblock %}
